@media screen and (min-width: 1920px){
    /*流程图*/
    article .yd_ad .bg_img{
        margin:-5.2% auto 0 2%;
    }
}
@media (min-width: 1880px) and (max-width: 1920px){
    /*流程图*/
    article .yd_ad .bg_img{
        margin:-5.2% auto 0 2%;
    }
}
@media (min-width: 1780px) and (max-width: 1879px){
    /*流程图*/
    article .yd_ad .bg_img{
        margin:-5.4% auto 0 4%;
    }
}
@media (min-width: 1680px) and (max-width: 1779px){
    /*流程图*/
    article .yd_ad .bg_img{
        margin:-5.6% auto 0 5%;
    }
}
@media (min-width: 1580px) and (max-width: 1679px){
    /*流程图*/
    article .yd_ad .bg_img{
        margin:-6% auto 0 6.4%;
    }
}