*{
    margin:0;
    padding: 0;
    font-family: "微软雅黑";
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
}

img{
    border-style: none;
}
li{
    list-style-type: none;
}
article .join{
    padding-left: 5%;
}

article .banner{
    width: 100%;
   /* background-color: #ffb09c;*/
}
article .banner img{
    display: block;
    width: 100%;
    height: 100%;
}
article .black_bar{
    width: 100%;
    height: 60px;
    background-color: black;
}
article .black_bar ul{
    margin-left: 19.8%;
}
article .black_bar ul li{
    display: inline-block;
    color: white;
    font-size:16px;
    line-height: 60px;
    padding: 0 50px;
    cursor: pointer;
}
article .black_bar ul img{
    vertical-align: middle;
}
article .black_bar ul .orange{
    background-color: #f5a517;
}
article .yd_ad{
    width: 65.6%;
    height: auto;
    margin:40px auto 178px;
    color: #161616;
    overflow: hidden;

}
article .yd_ad h1{
    font-size: 22px;
    font-family: 微软雅黑;
    font-weight: 600;
    letter-spacing:0px;

}
article .yd_ad p{
    font-size: 18px;
    font-family: 微软雅黑;
}
article .yd_ad .line_one{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

article .yd_ad .line_one div{
    width: 30%;
    text-align: center;
    padding-right: 14px;
    float: left;

}
article .yd_ad .line_one div img{
    max-width: 100%;
}
article .yd_ad .line_one div p{
    margin-top: 10px;
    font-size: 14px;
    font-family: 微软雅黑;
    padding-bottom: 2%;
}
footer .foot{
    width: 100%;
    background-color: #000;
}
footer .foot .foot1{
    width: 100%;
    height: 180px;
    background-color: #303030;
}
footer .foot .foot1 .contact{
    width:50%;
    height:100%;
    margin: 0 auto;

}
footer .foot .foot1 .contact .con_left{
    width:40%;
    height:180px;
    float: left;
    color: white;
    font-size: 14px;
    text-align: center;
}
footer .foot .foot1 .contact .con_left img{
    margin-top: 30px;
    vertical-align: middle;
}
footer .foot .foot1 .contact .con_left ul{
    margin-top:30px;
    vertical-align: middle;
    text-align: left;
}
footer .foot .foot1 .contact .con_left li{
    padding: 5px 0;
    margin-left: 16px;
}

footer .foot .foot1 .contact .con_right{
    display: inline-block;
    width: 44%;
    height:auto;
    margin-top: 5%;
    float: right;
    color: white;
    font-size: 12px;
    line-height: 30px;

}
footer .foot .foot1 .contact .con_right div{
    float: right;
}
.foot2{
    width: 100%;
    height: 40px;
    background-color: #000;
    font-size: 14px;
    color: #a7a6a7;
    text-align: center;
    line-height: 40px;
}
.foot2 a{
    font-size: 12px;
    color: #a7a6a7;
    line-height: 40px;
}
 .foot2 img{
    line-height: 40px;
    vertical-align: middle;
}