/*1280-1680*/
@media (min-width: 1280px) and (max-width: 1680px){
    /*案例*/
    article .yd_ad .line_one div {
        height: 28%;
    }

}
/*1681-1920*/
@media (min-width: 1681px) and (max-width: 1920px){
    /*案例*/
    article .yd_ad .line_one{
        margin-top: 6.6%;
    }
    article .yd_ad .first{
        margin-top: 4.5%;
    }
    /*案例*/
    article .yd_ad .line_one div {
        height: 28%;
    }
}
@media screen and (max-width: 1279px) {
    footer .foot .foot1 .contact .con_left ul.scan_code{
        display: none;
    }
}
@media (min-width: 1280px) and (max-width: 1680px){
    /*案例*/
    article .yd_ad .line_one{
        margin-top: 4.0%;
    }
    article .yd_ad .first{
        margin-top: 3.5%;
    }
}
