*{
    margin:0;
    padding: 0;
    font-family: "微软雅黑";
    font-weight: lighter;
}
article .yd_ad{
    width: 65%;
}
article .yd_ad h1{
    font-size: 22px;
    font-family: 微软雅黑;
    font-weight: 800;
    letter-spacing: 0px;

}
article .yd_ad p{
    font-size:18px;
    font-family: 微软雅黑;
    /*padding-left: 25px;*/
}
article .recruit{
    width: 100%;
    margin: 50px auto;
    height: auto;
    font-family: "微软雅黑";
}
article .recruit .title_ul{
    width: 100%;
    margin-left: 0.6%;
}
article .recruit .title_ul li{
    display: inline-block;
    width: 18%;
    margin-right: 1.4%;
    font-size: 14px;
    color: #454545;
    font-weight: 800;
}
article .recruit .title_ul li span{
    text-align: left;
}
article .recruit .fat_line{
    width:100%;
    height: 2px;
    margin: 16px auto 0;
    background-color: #dfdfdf;
}
article .recruit .thin_line{
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
}
article .recruit .android_ul{
    width: 100%;
    margin-left: 0.6%;

}
article .recruit .android_ul .short_text{
    display: inline-block;
    margin-left:6.4%;
    width:12% ;
    font-size: 16px;
    color: #454545;
    padding: 14px 0;
}
article .recruit .android_ul .address{
    margin-left: 0.6%;
}
article .recruit .android_ul .short_text span{
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
article .recruit .android_ul .long_text{
    display: inline-block;
    width:20%;
    text-align: left;
    font-size: 14px;
}
article .recruit .android_ul .time{
    margin-left: 6.8%;
}
article .recruit .android_ul  .post{
    font-size: 16px;
    color: #296098;
    cursor: pointer;
    margin-left: 7.8%;
}
article .recruit .post_detail{
    width: 100%;
    height:auto;
    background-color: #f2f2f2;
    color: #454545;
    border-bottom: 1px solid #dfdfde;
    display: none;
}
article .recruit .post_detail h3{
    font-size: 14px;
    font-weight: 800;
    padding: 20px  0 14px  38px;
}
article .recruit .post_detail p{
    font-size: 12px;
    padding-left: 38px;
    line-height: 24px;
}
article .yd_ad .welfare{
    width: 118%;
    height: 100%;
    margin: 50px auto auto 0;
}
article .yd_ad .welfare .like{
    width:40%;
    height:100%;
    float: left;
    margin-top: 10px;
    position: relative;
}
article .yd_ad .welfare .even{
    margin-left: 10px;
}
article .yd_ad .welfare .like img{
    width: 100%;
    height: 100%;
    display: inline-block;

}
article .yd_ad .welfare .like div{
    height:40px;
    background-color: #030303;
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    line-height: 40px;
    margin-left: -40px;
    margin-top: -20px;
}
article .yd_ad .welfare .like div p{
    font-size:16px;
    color: #ffffff;
    padding-left: 0;
}