*{
    margin:0;
    padding: 0;
    font-family: "微软雅黑";
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: #ffffff;
}
li{
    list-style-type: none;
}
article .join{
    padding-left: 2%;
}
/*固定头部*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 70px;
    background-color: black;
}
header .head{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
header .logo{
    float: left;
    margin-top: 4px;
    margin-left: 15%;
    width: 180px;
    height:56px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
header .nav_span{
    width: 60%;
    height: 70px;
    float: right;
    margin-right: 6%;
}
header span {
    color: #161616;
    font-size:16px;
    line-height: 70px;
    margin-left:5%;
}
header .nav_span div{
    display: inline-block;
    width: 100px;
    height: 24px;
    border-radius:4px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}
header .log{
    margin-left: 8%;
    color: white;
    border: 1px solid white;
}
header .reg{
    margin-left: 10px;
    color: white;
    border: 1px solid white;
}
header .nav_span .user_icon{
    position: relative;
    top: 8%;
}
header .add_icon{
    display: none;
    /* display: inline;*/
    position: relative;
}
header  .add_icon  a{
    border-bottom: 2px solid white;

}
header .nav_span .setting{
    position: absolute;
    left:24%;
    top: 38%;
}

header .org{
    background-color: #f5a517;
    border: 1px solid #f5a517;
}
header .set_icon{
    position: relative;
    top: 8%;
}
header .nav_span .angle{
    width:82px;
    height:90px;
    display: none;
    position: absolute;
    top:25px;
    right: -22px;
    background: url("https://img.chinasouhu.net/images//login_reg/drop_down_box.png");
    z-index:199;
}
header .angle p{
    font-size: 12px;
    color: #161616;
    text-align: center;
}
header .angle  .safe{
    padding: 24px 0 0 0 ;
    cursor: pointer;
}
header .angle  .safe a{
    border-bottom: none;
    color: #000000;
}
header .angle .grey_line_short{
    width: 72px;
    height: 1px;
    background: #e6e6e6;
    margin: 0 auto;
    position: relative;
    top: -10px;
}
header .angle  .exit{
    /* padding-top: 10px;*/
    cursor: pointer;
    position: relative;
    top: -5px;
}
header .angle  .exit a{
    border-bottom: none;
    color: #000000;
}
header .angle img{
    width: 100%;
    height: 100%;
}
article .bg{
    width: 100%;
    height: auto;
    background-color: #dfdfdf;
    padding-top: 70px;
    padding-bottom: 80px;
}
article .bg .white_bg{
    max-width: 1200px;
    height: auto;
    margin:60px auto 140px auto;
    background-color: white;

}
article .white_bg .line{
    width: 96%;
    height: 1px;
    margin:0 auto;
    background: #b5b5b5;
}
article .bg .white_bg h1{
    padding: 48px 0 24px 0;
    text-align: center;
    font-size: 24px;
    color: #161616;
    font-weight: 900;
}
article .bg .white_bg h2{
    font-size: 18px;
    color:#161616;
    font-weight: 800;
    padding-left: 40px;
    padding-top: 30px;
    line-height: 30px;
}
article .bg .white_bg .protocol{
    font-size: 14px;
    color: #161616;
    line-height:30px;
    padding-left: 20px;
    text-indent: 1.6%;
}
article .bg .white_bg .kh{
    padding-left: 30px;
}
article .bg .white_bg .underline{
    width: 140px;
    height: 2px;
    background-color: #575757;
    margin: 0 auto;
}
article .bg .white_bg .copyright{
    margin-left:1%;
    font-size: 14px;
    color: #161616;
    line-height: 30px;
    text-indent: 1%;
    text-align: left;
}
article .bg .white_bg .img_q{
    width: 880px;
    height: auto;
    margin: 30px auto 0;
}
article .bg .white_bg .img_q div{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
footer .foot{
    width: 100%;
    background-color: #000;
}
footer .foot .foot1{
    width: 100%;
    height: 180px;
    background-color: #303030;
}
footer .foot .foot1 .contact{
    width:50%;
    height:100%;
    margin: 0 auto;

}
footer .foot .foot1 .contact .con_left{
    width:40%;
    height:180px;
    float: left;
    color: white;
    font-size: 14px;
    text-align: center;
}
footer .foot .foot1 .contact .con_left img{
    margin-top: 30px;
    vertical-align: middle;
}
footer .foot .foot1 .contact .con_left ul{
    margin-top:30px;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
}
footer .foot .foot1 .contact .con_left li{
    padding: 5px 0;
    margin-left: 16px;
}
footer .foot .foot1 .contact .con_right{
    display: inline-block;
    width: 44%;
    height:auto;
    margin-top: 5%;
    float: right;
    color: white;
    font-size: 12px;
    line-height: 30px;

}

footer .foot .foot1 .contact .con_right div{
    float: right;
}
.foot2{
    width: 100%;
    height: 40px;
    background-color: #000;
    font-size: 14px;
    color: #a7a6a7;
    text-align: center;
    line-height: 40px;
}
.foot2 a{
    font-size: 12px;
    color: #a7a6a7;
    line-height: 40px;
}
.foot2 img{
    line-height: 40px;
    vertical-align: middle;
}